include *.md
include LICENSE
include setup.py
include requirements.txt
include scaffoldgraph/*.py
include scaffoldgraph/*/*.py
include tests/data/test_smiles.smi
include scaffoldgraph/vis/notebook/resources/*
recursive-include tests *.py
